*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: royalblue; */
}
#nav{
    height: 15%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-right{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
#nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-link>h4{
    font-size: 20px;
    font-weight: 600;
    margin: 50px;
}
#nav-link i{
    color: rgb(103, 163, 13);
}
#nav-btn {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    height: 35px;
    width: 130px;
    padding: 7px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-right: 30px;
}
#contenire{
    height: 85%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#part1{
    height: 100%;
    width: 40%;
    padding: 85px;
}
.link
{
    font-size: 12px;
    background-color:#CEF47A;
    height: 20px;
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part1 h1{
    font-size: 90px;
    line-height: 75px;
    margin-top: 20px;
    word-spacing: -2px;
}
#part1 h2{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 200;
    color: rgb(83, 91, 83);
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 35px;
}
.btn>h4{
    background-color: white;
    border: 2px solid black;
    font-size: 20px;
    height: 35px;
    width: 135px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn>h5{
    font-size: 20px;
}
.btm{
    height: 15%;
    width: 100%;
    margin-top: 50px;
}
#part2{
    height:88%;
    width: 35%;
    background-color: rgb(175, 246, 83);
    margin-right:130px;    
    border-radius: 30px;
}
#img1{
    position: absolute;
    top: 14%;
    left: 67%;
    border-radius: 20px;
    /* transform: translate(-50%,-50%); */
    height: 55%;
    width: 20%;
    background-color: white;
    background-image: url(Product1.jpeg);
    background-size: cover;
    background-position: center;
    z-index: 99;
}
#img2{
    position: absolute;
    top: 35%;
    left: 52%;
    border-radius: 20px;
    /* transform: translate(-50%,-50%); */
    height: 55%;
    width: 25%;
    background-color: white;
    background-image: url(https://i.pinimg.com/736x/c4/70/91/c470913989fe12e547a8b6a1204257de.jpg);
    background-size: cover;
    background-position: center;
}